<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <category label="LG TV Connection">
    <setting id="tv_ip" type="text" label="TV IP Address" default="" />
    <setting id="ssh_user" type="text" label="SSH User" default="root" />
    <setting id="ssh_key_path" type="text" label="SSH Key Path" default="/storage/.ssh/id_ed25519" />
    <setting id="ssh_timeout" type="number" label="SSH Timeout (seconds)" default="5" />
  </category>
</settings>
